<div class="form-group container mb-4">
    <label for="email" class="mb-1">Email</label>
    <input type="email" name="email" id="email" class="form-control mb-3" required>
    <div class="password-container" style="position: relative;">
        <label for="password" class="mb-1">Password</label>
        <button id="toggle-password" type="button" aria-label="Show password as plain text. Warning: this will display your password on the screen.">Show</button>
        <input type="password" name="password" id="password" class="form-control mb-3" required>
    </div>
</div>
<div class="container">
    <a href="/" class="btn btn-secondary">Cancel</a>
    <button class="btn btn-primary" type="submit"><%= button %></button>
</div>